
<div class="main">	
	
	<% if @errors != nil %>
		<h3 class="errors"><%= @errors %></h3>
	<% end %>
	
	<% if @pWeight != nil %>
		<h2>Offensive War Weight: <%= @pWeight.oWeight %></h2>
		<h3><%= @pWeight.name %>
		<h3><%= @pWeight.tag %></h3>
		
		<h3>Troops</h3>
		<h5>Barbarian Weight: <%= @pWeight.barbWeight %></h5>
		<h5>Archer Weight: <%= @pWeight.archerWeight %></h5>
		<h5>Giant Weight: <%= @pWeight.giantWeight %></h5>
		<h5>Goblin Weight: <%= @pWeight.goblinWeight %></h5>
		<h5>Wall Breaker Weight: <%= @pWeight.wBreakerWeight %></h5>
		<h5>Balloon Weight: <%= @pWeight.balloonWeight %></h5>
		<h5>Wizard Weight: <%= @pWeight.wizardWeight %></h5>
		<h5>Healer Weight: <%= @pWeight.healerWeight %></h5>
		<h5>Dragon Weight: <%= @pWeight.dragonWeight %></h5>
		<h5>P.E.K.K.A Weight: <%= @pWeight.pekkaWeight %></h5>
		<h5>Baby Dragon Weight: <%= @pWeight.bDragonWeight %></h5>
		<h5>Miner Weight: <%= @pWeight.minerWeight %></h5>
		<h5>Minion Weight: <%= @pWeight.minionWeight %></h5>
		<h5>Hog Rider Weight: <%= @pWeight.hogWeight %></h5>
		<h5>Valkyrie Weight: <%= @pWeight.valkWeight %></h5>
		<h5>Golem Weight: <%= @pWeight.golemWeight %></h5>
		<h5>Witch Weight: <%= @pWeight.witchWeight %></h5>
		<h5>Lava Hound Weight: <%= @pWeight.houndWeight %></h5>
		<h5>Bowler Weight: <%= @pWeight.bowlerWeight %></h5>
		
		<h3>Spells</h3>
		<h5>Lightning Spell Weight: <%= @pWeight.lightningWeight %></h5>
		<h5>Healing Spell Weight: <%= @pWeight.healWeight %></h5>
		<h5>Rage Spell Weight: <%= @pWeight.rageWeight %></h5>
		<h5>Jump Spell Weight: <%= @pWeight.jumpWeight %></h5>
		<h5>Freeze Spell Weight: <%= @pWeight.freezeWeight %></h5>
		<h5>Clone Spell Weight: <%= @pWeight.cloneWeight %></h5>
		<h5>Poison Spell Weight: <%= @pWeight.poisonWeight %></h5>
		<h5>Earthquake Spell Weight: <%= @pWeight.eqWeight %></h5>
		<h5>Haste Spell Weight: <%= @pWeight.hasteWeight %></h5>
		<h5>Skeleton Spell Weight: <%= @pWeight.skeletonWeight %></h5>
		
		<h3>Heroes</h3>
		<h5>Barbarian King Weight: <%= @pWeight.bkWeight %></h5>
		<h5>Archer Queen Weight: <%= @pWeight.aqWeight %></h5>
		<h5>Grand Warden Weight: <%= @pWeight.gwWeight %></h5>
	<% end %>
	
</div>


