<!DOCTYPE html>
<html>
  <head>
    <title>Clash Weights</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
  	<header id="header">
  	  <a href="/"><h3 id="title">Clash Weights</h3></a>
  	  <nav id ="mainNav">
  		<a href="/about/index">About</a> |
  		<a href="/contact/index">Contact</a>
  	  </nav>	
    </header>
    <%= yield %>
    <div id="footer">
      <nav id ="footerNav">
  		<a href="/about/index">About</a>
  		<a href="/contact/index">Contact</a>
  	  </nav>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99903009-2', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
