


<div class="centerDiv" id="welcomeMain">

  <span class="centerSpan">
  <h1>Find Out Your Offensive War Weight</h1>
  <%= form_tag(action: "submit") do %>
  	<%= label_tag(:pTag, "Player Tag") %>
  	<%= text_field_tag(:pTag) %>
  	<h3>or</h3>
  	<%= label_tag(:cTag, "Clan Tag") %>
  	<%= text_field_tag(:cTag) %>
  	<%= submit_tag("Submit") %>
  <% end %>
  </span>

</div>

