
html
{
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1
{
	font-weight: 700;
}

h5
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
}

input
{
	display: block;
	margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=submit]
{
	margin-top: 30px;
	padding: 10px;
	font-size: 18px;
	font-weight: 500;
	background:#730E15;
	color:#FFFFFF;
	border-radius: 10px;
}

label
{
	font-size: 18px;
	font-weight: 500;
}

#header
{
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #FFFFFF;
}

#title
{
	float: left;
	padding: 0;
	margin: 0;
	color: #000000;
}

#mainNav
{
	float: right;
}

#mainNav a
{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #000000;
}

#mainNav a:hover
{
	color:#999999;
}

#footerNav
{
	padding-top: 30px;
	padding-left: 5%;
}

#footerNav a
{
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	color: #FFFFFF;
}

#footerNav a:hover
{
	color:#999999;
}

#footer
{
	height: 20%;
	background: #000000;
}

#welcomeMain
{
	background-image: url(<%= asset_path 'bg.png' %>);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFFFFF;
    height: 80%;
}

#aboutMain
{
	padding-right: 20%;
}

.errors
{
	color: #B00100
}

.centerDiv
{
	text-align: center;
	height: 100%;
	width: 100%;
	display: table;
}

.centerSpan
{
	vertical-align: middle;
	display: table-cell;
}

.main
{
	background-color: #EEEEEE;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20%;
	min-height: 75%;
}

#contact
{
	padding-right: 5%;
}


