

<div class="main">	
	
	<% if @errors != nil %>
		<h3 class="errors"><%= @errors %></h3>
	<% end %>
	
	<% if @cWeights != nil %>
		<h2>Offensive War Weight: <%= @cWeights.oWeight %></h2>
		<h3><%= @cWeights.name %>
		<h3><%= @cWeights.tag %></h3>
		
		<h3>Members</h3>
		<% for member in @cWeights.memberList %>
			<h5><a href="/player/index?pTag=<%= member.tag%>">Details</a> | <%= member.name %>: <%= member.oWeight %></h5>
		<% end %>
		
	<% end %>

</div>
