

<div class="main" id="aboutMain">

	<h2>About</h2>
	<p>
		Clash Weights allows you to view the war weights of your troops, spells, 
		and heroes in <a href="http://supercell.com/en/games/clashofclans/">Clash of Clans</a>
		using your player tag or your clan's tag.
	</p>
	
	<h3>How Are The War Weights Calculated?</h3>
	<p>
		Your troop, spell, and hero levels are retrieved using your player tag or clan tag. Using the levels,
		the weights of each individual troop, spell, and hero are calculated using the <a href="https://www.allclash.com/upgrade-priority-for-clan-wars/">the weights in this article</a>.
		Then the weights are added up to give you your total offensive war weight.
	</p>
	<p>
		The war weight you will get using this website should give you a general idea of what your war weight is. It's likely that the 
		war weight algorithm in the game does more than just sum up the weights of each troop, spell, and hero. For example, the war weights 
		algorithm might weigh heroes more heavily.
	</p>
	
	<h3>Why Can't Defensive War Weights Be Calculated?</h3>
	<p>
		To calculate war weights, the levels of your troops, spells, heroes, and buildings needs to be retrieved. Using the
		<a href="https://developer.clashofclans.com/#/">Clash of Clans API</a>, I can retrieve your troop, spells, and hero levels
		using your player or clan tag. There is no way to retrieve the levels of your defensive structures. There is no word on if
		Supercell will add this functionality in the future.
	</p>
	
</div>
